body {
  background: rgb(190,224,228);
  font-family: 'Arial';
}
h1 {
  color: black;
}
.upload-file {
  width: 50%;
  font-size: 12pt;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 10px;
  color: white;
  background: cadetblue;
}

.browse {
  width: 60%;
  color: grey;
  background: white;
  padding: 5px 5px;
  border-radius: 10px;
}

.get-result {
  font-size: 12pt;
  font-weight: 600;
  color: cadetblue;
}