body {
  background: rgb(190,224,228);
  margin: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  font-family: 'Arial';
}

table {
  text-align: left;
  width: 70%;
  position: relative;
  border-collapse: collapse;
  border: 1px solid cadetblue;
}

th, td {
  padding: 0.25rem;
}

tr.header th {
  background: cadetblue;
  color: white;
}

th {
  background: white;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

tr.tableover {
  overflow-y: scroll;
  overflow-x: auto;
}

tr:hover {background-color: aliceblue;}

.download_button {
  display: inline-block;
  margin: 0;
  font-size: 12pt;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  background: cadetblue;
}

.download_button:hover {
  text-decoration: underline;
  color: black;
}

.download_button:active {
  color: darkblue;
  font-weight: 500;
}